/*===========================================================
General CSS
=============================================================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --primary: #16A4AD;
  --primary-text: #1C213C;
  --body-text: #5C727D;
  --body-text2: #AAACB3;
  --white: #fff;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

a,
p,
i,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

select,
input {
  border: 0;
  outline: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.title{
  padding-bottom: 32px;
}
.title h2{
  font-size: 40px;
  line-height: 56px;
  color: var(--primary-text);
  font-weight: 600;
  position: relative;
  width: fit-content;
  margin: auto;
}
.title h2::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 60px;
  background-color: var(--primary);
  border-radius: 4px;
}
main{
  margin-top: 61px;
}
@media (min-width:992px) and (max-width:1199px) {
  .title h2 {
    font-size: 36px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .title h2 {
    font-size: 34px;
  }
}

@media screen and (max-width:575px) {
  .title{
    padding-bottom: 16px;
  }
  .title h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

/*===========================================================
Select CSS
=============================================================*/
.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}
.select2-search--dropdown {
  padding: 0;
}
.select2-dropdown {
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 37px rgba(34, 34, 51, 0.08);
}
.select2-results {
  padding: 16px 10px;
}
.select2-container--default .select2-results__option--selected {
  background-color: white;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: rgba(22, 163, 173, 0.1);
  color: var(--primary);
}
.select2-results__option {
  padding: 9px 16px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--body-text);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  color: var(--body-text);
}
.select2-container--default .select2-selection--single {
  background-color: var(--white);
  border: 0;
  border-bottom: 1px solid var(--body-text);
  border-radius: 0;
}
.select2-container .select2-selection--single {
  height: 48px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--body-text);
  line-height: 48px;
  font-size: 16px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  width: auto;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
  width: 5px;
}

.select2-container--default .select2-results>.select2-results__options::-moz-scrollbar {
  width: 5px;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

.select2-container--default .select2-results>.select2-results__options::-moz-scrollbar-track {
  background-color: #F4F4F4;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.select2-container--default .select2-results>.select2-results__options::-moz-scrollbar-thumb {
  background: var(--primary);
}

/*===========================================================
header CSS
=============================================================*/
header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.navigation{
  background-color: var(--white);
  box-shadow: 8px 8px 16px rgba(112, 128, 176, 0.08);
  width: 100%;
}
.navigation .navbar-brand{
  padding: 0;
  margin: 0;
}
.navigation .nav-item{
  margin: 0 20px;
}
.navigation .nav-item .nav-link{
  padding: 10px;
  font-size: 16px;
  color: var(--primary-text);
  position: relative;
}
.navigation .nav-item .nav-link::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 10px;
  height: 4px;
  width: 0%;
  background-color: var(--primary);
  border-radius: 4px;
  transition: all 0.3s;
}
.navigation .nav-item .nav-link.active::before,
.navigation .nav-item .nav-link:hover::before{
  width: calc(100% - 20px);
}
.navigation .nav-item .nav-link:hover,
.navigation .nav-item .nav-link.active{
  color: #3B2D60;
  font-weight: 600;
}
.navigation .dropdown-menu{
  border: 0;
  border-radius: 6px;
  box-shadow: 0px 0px 37px rgba(34, 34, 51, 0.08);
  padding: 0;
  overflow: hidden;
}
.navigation .dropdown-item{
  font-size: 16px;
  color: #5C727D;
  padding: 9px 16px;
}
.navigation .dropdown-item:hover{
  background-color: rgba(22, 163, 173, 0.1);
  color: var(--primary);
}
.navigation .dropdown-toggle::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  color: var(--primary-text);
  border: 0;
  vertical-align: middle;
}
@media (min-width:992px) and (max-width:1199px) {
  .navigation .navbar-nav{
    margin-right: 0 !important;
  }
}
/*===========================================================
footer CSS
=============================================================*/
footer{
  background-color: #0D263B;
  padding: 40px 0 70px;
  color: var(--white);
}

/*==================== top-footer css =====================*/
.top-footer .footer-main{
  padding-bottom: 24px;
  border-bottom: 1px solid var(--white);
}
.top-footer .footer-content{
  padding-left: 53px;
}
.top-footer p,
.top-footer a{
  display: inline-block;
  font-size: 16px;
  color: var(--white);
}
.top-footer .about{
  padding: 60px 0;
}
.top-footer .footer-social{
  gap: 22px;
}
.top-footer .footer-title{
  padding-bottom: 40px;
}
.top-footer .footer-title h4{
  font-size: 20px;
  font-weight: 700;
}
.top-footer .footer-links li:not(:last-child){
  padding-bottom: 16px;
}
.top-footer .footer-social a:hover,
.top-footer .footer-links a:hover{
  color: var(--primary);
}
.top-footer .footer-address > li{
  display: flex;
  gap: 6px;
}
.top-footer .footer-address > li i{
  margin-top: 4px;
}
.top-footer .footer-address > li:not(:last-child){
  padding-bottom: 18px;
}

/*==================== bottom-footer css =====================*/
.bottom-footer{
  padding-top: 40px;
}
.bottom-footer .footer-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer p{
  font-size: 18px;
  color: var(--white);
}
.bottom-footer .footer-links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.bottom-footer .footer-links a{
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
}
.bottom-footer .footer-links a:hover{
  color: var(--primary);
}

@media (min-width:768px) and (max-width:1199px) {
  .top-footer .footer-content{
    padding-left: 0;
  }
  .top-footer .about {
    padding: 45px 0;
  }
  .top-footer p, .top-footer a {
    font-size: 14px;
  }
  .bottom-footer .footer-links a,
  .bottom-footer p{
    font-size: 14px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  footer {
    padding: 40px 0;
  }
  .top-footer .about {
    padding: 30px 0;
  }
  .top-footer .footer-links li:not(:last-child) {
    padding-bottom: 8px;
  }
  .top-footer .row{
    --bs-gutter-y: 32px;
  }
  .top-footer .footer-title {
    padding-bottom: 24px;
  }

  .bottom-footer {
    padding-top: 24px;
  }
  .bottom-footer .footer-main{
    flex-direction: column;
    gap: 24px;
  }
}