/*===========================================================
Banner CSS
=============================================================*/
.banner {
  padding-top: 32px;
  padding-bottom: 64px;
}

.banner .container {
  max-width: 1595px;
}

.banner .banner-content {
  min-height: 650px;
}

.banner .banner-text {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  border-radius: 30px;
  padding: 64px 0;
  min-height: 650px;
}

.banner .content {
  max-width: 670px;
  margin: auto;
}

.banner h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-text);
}

.banner h1 span {
  font-weight: 900;
  color: var(--primary);
}

.banner p {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text);
  padding-top: 8px;
}

.banner .filter-main {
  margin-top: -180px;
  padding: 0 12px;
}

@media (min-width:992px) and (max-width:1199px) {
  .banner {
    padding-bottom: 32px;
  }

  .banner .banner-content {
    min-height: 500px;
  }

  .banner .banner-text {
    min-height: 500px;
  }

  .banner .filter-main {
    margin-top: -127px;
  }

  .banner h1 {
    font-size: 42px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .banner {
    padding-bottom: 32px;
  }

  .banner .banner-content {
    min-height: 470px;
  }

  .banner .banner-text {
    min-height: 470px;
  }

  .banner .filter-main {
    margin-top: -115px;
  }

  .banner h1 {
    font-size: 42px;
  }

  .banner p {
    font-size: 16px;
  }
}

@media screen and (max-width:767px) {
  .banner {
    padding: 12px 0 4px;
  }

  .banner .banner-content {
    min-height: 383px;
  }

  .banner .banner-text {
    padding: 52px 26px;
    border-radius: 8px;
    min-height: 383px;
  }

  .banner h1 {
    font-size: 24px;
  }

  .banner p {
    font-size: 14px;
  }

  .banner .filter-main {
    margin-top: -90px;
  }
}


/*===========================================================
achievement CSS
=============================================================*/
.achievement {
  padding: 64px 0;
}

.achievement .all-achievement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.achievement .single {
  padding: 24px 0;
}

.achievement .single .icon {
  background-color: #E2F3F4;
  height: 88px;
  width: 88px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.achievement .single h3 {
  font-size: 40px;
  line-height: 64px;
  font-weight: 900;
  color: var(--primary-text);
  padding-top: 16px;
}

.achievement .single p {
  font-size: 16px;
  color: var(--body-text);
}

@media (min-width:992px) and (max-width:1199px) {
  .achievement {
    padding: 32px 0;
  }

  .achievement .single h3 {
    font-size: 34px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .achievement {
    padding: 32px 0;
  }

  .achievement .single h3 {
    font-size: 32px;
  }
}

@media screen and (max-width:767px) {
  .achievement {
    padding: 32px 0;
  }

  .achievement .single {
    width: 50%;
    padding: 8px 0;
  }

  .achievement .single .icon {
    height: 54px;
    width: 54px;
  }

  .achievement .single h3 {
    font-size: 18px;
    line-height: 28px;
    padding-top: 8px;
  }

  .achievement .single p {
    font-size: 14px;
  }
}



/*===========================================================
place CSS
=============================================================*/
.place {
  padding: 64px 0;
}

.place .all-places .row {
  --bs-gutter-y: 24px;
}

.place .single-place a {
  display: block;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.place .single-place img {
  transition: all 1s ease-in-out;
  width: 100%;
}

.place .single-place a:hover img {
  transform: scale(1.1);
}

.place .single-place .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, rgba(5, 6, 32, 0.8) 0.22%, rgba(0, 0, 0, 0) 27.9%), linear-gradient(0deg, rgba(22, 164, 173, 0.24), rgba(22, 164, 173, 0.24));
  top: 0;
  left: 0;
  padding: 32px 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.place .single-place p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  width: 100%;
}

.place .single-place p i {
  font-size: 30px;
}

@media (min-width:768px) and (max-width:1199px) {
  .place {
    padding: 32px 0;
  }
}

@media screen and (max-width:767px) {
  .place {
    padding: 32px 0;
  }

  .place .single-place .overlay {
    padding: 24px 20px;
  }

  .place .single-place p {
    font-size: 18px;
    font-weight: 400;
  }
}

/*===========================================================
blog CSS
=============================================================*/
.blog {
  padding: 64px 0;
}

.blog .all-blogs .row {
  --bs-gutter-y: 24px;
}

.blog .single-blog {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 37px rgba(34, 34, 51, 0.08);
  background-color: var(--white);
}

.blog .small-blog {
  display: flex;
  align-items: center;
}

.blog .single-blog .image {
  margin-bottom: 16px;
}

.blog .small-blog .image {
  width: 300px;
  flex-shrink: 0;
  margin-bottom: 0;
}

.blog .single-blog .image img {
  width: 100%;
}

.blog .single-blog .content {
  padding: 24px;
}

.blog .small-blog .content {
  padding: 15px 16px 15px 24px;
  flex-grow: 1;
  width: 100%;
}

.blog .single-blog span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: var(--body-text2);
}

.blog .single-blog span i {
  font-size: 20px;
}

.blog .single-blog .details-btn {
  display: block;
  text-align: center;
  background-color: #E2F3F4;
  height: 32px;
  width: 32px;
  border-radius: 2px;
}

.blog .single-blog .details-btn i {
  line-height: 32px;
  font-size: 32px;
  color: var(--primary);
}

.blog .single-blog .blog-title {
  padding: 9px 30px 16px 0;
}

.blog .small-blog .blog-title {
  padding: 0 30px 9px 0;
}

.blog .single-blog h3 {
  color: var(--primary-text);
  font-weight: 600;
  font-size: 32px;
}

.blog .small-blog h3 {
  line-height: 38px;
}

.blog .single-blog p {
  color: var(--body-text);
  font-size: 16px;
}

.blog .small-blog p {
  line-height: 20px;
}

.blog .single-blog .tags {
  gap: 24px;
  flex-wrap: wrap;
}

.blog .single-blog .tags a {
  display: inline-block;
  padding: 5px 16px;
  border-radius: 47px;
  font-size: 16px;
  font-weight: 600;
}

.blog .single-blog .tags .research {
  color: #007BEC;
  background-color: #D9EFFF;
}

.blog .single-blog .tags .case-study {
  color: #2137FF;
  background-color: #E0E5FF;
}

.blog .view-all {
  padding-top: 32px;
}

.blog .view-all-btn {
  display: inline-block;
  width: 173px;
  padding: 12px 0;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width:992px) and (max-width:1199px) {
  .blog {
    padding: 32px 0;
  }

  .blog .single-blog h3 {
    font-size: 26px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .blog {
    padding: 32px 0;
  }

  .blog .single-blog h3 {
    font-size: 30px;
  }
}

@media screen and (max-width:767px) {
  .blog {
    padding: 32px 0;
  }

  .blog .single-blog .content {
    padding: 0 16px 16px 24px;
  }

  .blog .single-blog .details-btn {
    height: 24px;
    width: 24px;
  }

  .blog .single-blog .details-btn i {
    line-height: 24px;
    font-size: 24px;
  }

  .blog .single-blog .blog-title {
    padding: 9px 0 16px;
  }

  .blog .single-blog h3 {
    font-size: 24px;
  }

  .blog .single-blog p {
    font-size: 14px;
  }

  .blog .small-blog {
    display: block;
  }

  .blog .small-blog h3 {
    line-height: 30px;
  }

  .blog .small-blog .image {
    margin-bottom: 16px;
    width: 100%;
  }
}

/*===========================================================
partner CSS
=============================================================*/
.partner {
  padding: 64px 0;
}

.partner .title {
  padding-bottom: 8px;
}

.partner .partner-slider {
  padding: 24px 12px;
}

.partner .item {
  width: auto;
  height: 166px;
  box-shadow: 0px 0px 37px rgba(34, 34, 51, 0.08);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.partner .swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  background-color: #D9D9D9;
  margin: 0 8px;
  opacity: 1;
}

.partner .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -16px;
}

.partner .swiper-pagination-bullet-active {
  background-color: var(--primary);
}

@media (min-width:768px) and (max-width:1199px) {
  .partner {
    padding: 32px 0;
  }
}

@media screen and (max-width:767px) {
  .partner {
    padding: 32px 0;
  }
}